streamlit==1.12.0
pandas==1.5.3
numpy==1.24.3
scikit-learn==1.6.1
scipy==1.13.1
plotly==6.1.1
pydeck==0.9.1
matplotlib           # À ajouter si tu fais des graphiques matplotlib
nltk==3.9.1              # À garder si tu fais du traitement de texte
tqdm==4.67.1              # Pour les barres de progression, si utilisées
requests==2.32.3           # Si tu fais des requêtes HTTP
beautifulsoup4==4.13.4       # Si tu fais du web scraping
lxml==5.4.0                 # Si tu utilises BeautifulSoup avec lxml
streamlit-authenticator==0.2.2  # Si tu fais de l’authentification
extra-streamlit-components==0.1.56  # Si tu utilises des composants personnalisés
python-pptx==1.0.2         # Si tu génères des fichiers PowerPoint
validators==0.35.0          # Si tu valides des URLs, emails, etc.
PyYAML==6.0.2               # Si tu utilises des fichiers YAML

